body {
  background-color: #d9d9d9;
  color: #3c4858;
  margin: 0;
  font-size: 1rem;
  text-align: left;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rc-slider {
  padding: 0 !important;
}
